<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roller Coaster Accident Analysis</title>

    <!--<link rel="stylesheet" type="text/css" href="../static/css/style.css">-->

  </head>

  <body>
    <div id="map"></div>
    <div id="pie"></div>
    <div id="bar"></div>
    <div id="scatter"></div>
    <div id="table"></div>

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script type="text/javascript">

      d3.json('/accidents').then((accidents) => {
        console.log(accidents);
      })

    </script>
    <!-- doesn't work from external file?
    <script type='text/javascript,charset=utf-8' src="{{ url_for('static', filename='js/logic.js') }}"></script> -->
  </body>
</html>
